.grid-intro-contents{
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 20px;
}

.intro-contents{
    font-family: var(--font-geist-mono);
    padding-top: 100px;
}

.intro-contents h1{
    font-size: 60px;
    font-weight: 900;
}

.intro-contents p{
    width: 75%;
    font-size: 20px;
    text-wrap: wrap;
}

.pkshade-color{
    color: #B03052;
}

.portfolio-img{
    position: relative;
    overflow: hidden;
}

.img-cont{
    border-radius: 12px;
}