body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    flex: 1;
}

.main-page{
    height: 100%;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .main-page{
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .main-page{
        padding: 10px;
    }
}