.skill-contents{
    font-family: var(--font-geist-mono);
}

.skill-contents h1{
    font-size: 38px;
    font-weight: 800;
    color: #B03052;
}

.skill-contents h2{
    font-size: 22px;
    font-weight: 800;
    color: #B03052;
}

.card-component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.skillset-card-cont{
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.055);
    padding: 20px 60px;
    border: 2px solid #ddbcc3;
}